body {
    background-color: rgb(255, 213, 0);
}


.headpicture img{
    position: sticky;
    border-radius: 30px;
    border: 2px solid blue;
    width: 650px;
    height: 500px;
}

.header a{
    font-family:Impact;
}

.h1{
    font-family:Impact;
}