body {
    background-color: rgb(255, 252, 226)
}

.navbar{
    background-color:rgb(80, 80, 80);
    color: rgb(255, 252, 226);
}

.navbar-light .navbar-nav .nav-link{
    color:rgb(255, 252, 226);
}

.btn-outline-success{
    color:rgb(255, 252, 226);
    border-color:rgb(255, 252, 226);
}

.form-control{
    background-color: rgb(255, 252, 226);
}

.carousel{
    width: 500px;
    height: 500px;
    margin: auto;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
}

.main img{
   
    border-radius: 30px;
    border: 2px solid #0000ff;
    width: 640px;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.main{
    text-align: center;
}

.header a{
    font-family:Impact;
}

.h1{
    font-family:Impact;
}